###################################
# general ignore patterns
###################################

build/
obj/
*.o
Debug*/
Release*/
*.mode*
*.app/
*.pyc
.svn/

# Visual Studio
*.sdf
*.opensdf
*.suo
ipch/
.vscode/

# OSX
**/.DS_Store
.DS_Store
*.swp
*~.nib

# hello this is a test
